*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    header{
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: aliceblue;
        background-color: bisque;
        h2{
            margin-left: 50px;
            align-items: center;
        }
        
    }
    footer{
        margin-top: 100%;
        position: fixed;
    }
}